.main-component {
    display: flex;

    .main-card-component {
        width: 480px;
        height: 240px;
        margin-left: 50px;
        display: flex;

        .main-card-formatted {
            margin-top: auto;
        }
    }
}