.error-insert-button {
    width: 560px;
    height: 50px;

    margin-top: 80px;
    margin-left: 12px;
    margin-right: 12px;
    margin-bottom: 20px;
    
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    color: white;

    background-color: #36a1f8;
}