.header-main {
    position: fixed;
    top: 0;
    width: 55%;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px 20px;
    margin-left: 28px;
    z-index: 1000;
    display: flex;
    justify-content: end;

    .header-login {
        font-weight: bold;
        cursor: pointer;
        text-align: end;
        margin-right: 80px;
    }
    
    .header-error-write {
        font-weight: bold;
        cursor: pointer;
        text-align: end;
        margin-right: 40px;
    }
}