.header-main {
    position: fixed;
    top: 0;
    width: 55%;
    margin-top: 20px;
    padding: 10px 20px;
    margin-left: 28px;
    z-index: 1000;
    display: flex;
    justify-content: space-between;

    .header-logo {
        justify-content: start;
        align-items: center;
        margin-right: auto;
    }


    .header-main-title {
        display: flex;
        justify-content: flex-end;
        align-items: center;

        .header-login {
            margin-right: 36px;
        }
    }
}

.modal {
    width: 650px;
    height: 300px;
}